@{
    Layout = "";
}
@model MVCPlugin.Plugin.Shipping.Yuantong.Models.YuantongShippingModel

<ul>
    <li>YuantongShippingName: @Html.LabelFor(model=>model.YuantongShippingName)fedex(谢瑞)</li>
    <li>YuantongShippingFee: @Html.LabelFor(model=>model.YuantongShippingFee)fedex(谢瑞)</li>
</ul>



