@{
    ViewBag.Title = "ShippingMethod";
    Layout = null;
}
@model Mem.Web.Models.ShippingMethodModel

<h2>ShippingMethod</h2>

@Html.Action(Model.ActionName, Model.ControllerName, Model.ConfigurationRouteValues)

