@model Mem.Admin.UI.Models.Settings.AuthoritiesModel
@{
    ViewBag.Title = "AddAuthorities";
    Layout = "~/Views/Shared/_right.cshtml";
}
<div id="example" class="k-content">
    <form id="tickets">
        <ul>
            <li>
                <label for="Name" class="required">权限名</label>
                <input type="text" id="Name" name="Name" class="k-textbox" placeholder="权限名" required validationmessage="请输入权限名" />
            </li>

            <li>
                <label for="AuthorityClassifyId" class="required">所属权限分组</label>
                <select name="AuthorityClassifyId" id="AuthorityClassifyId" required data-required-msg="请选择权限分组" style="width: 300px">
                    @foreach (var info in Model.AuList)
                    {
                         <option value="@info.Id">@info.Name</option>
                    }
                </select>  
                <span class="k-invalid-msg" data-for="AuthorityClassifyId"></span>
            </li>

            <li>
                <label for="SrcUrl" class="required">Controller</label>
                <input type="text" id="Controller" name="Controller" class="k-textbox" placeholder="控制器" required validationmessage="请输入控制器" />
            </li>

            <li>
                <label for="Content" class="required">Action</label>
                <input type="text" id="Action" name="Action" class="k-textbox" placeholder="Action" required validationmessage="请输入Action" />
            </li>

            <li class="accept">
                <button class="k-button" type="submit">提交</button>
            </li>
            <li class="status"></li>
        </ul>
    </form>

    <script>
        $(document).ready(function () {
            var data = [
            "12 Angry Men",
            "Il buono, il brutto, il cattivo.",
            "Inception",
            "One Flew Over the Cuckoo's Nest",
            "Pulp Fiction",
            "Schindler's List",
            "The Dark Knight",
            "The Godfather",
            "The Godfather: Part II",
            "The Shawshank Redemption"
            ];

            $("#AuthorityClassifyId").kendoDropDownList({
                optionLabel: "--请选择--"
            });

            $("#amount").kendoNumericTextBox();

            var validator = $("#tickets").kendoValidator().data("kendoValidator"),
            status = $(".status");

            $("#tickets").submit(function (event) {
                event.preventDefault();
                if (validator.validate()) {
                    $.ajax({
                        type: 'POST',
                        url: '/Settings/AddAuthoritiesInfo',
                        async: true,
                        dataType: 'json',
                        data: $("#tickets").serialize(),
                        success: function (data) {
                            if (!data.Result) {
                                alert(data.msg);
                            }
                            else {
                                parent.location.reload();
                            }
                        },
                        error: function (ex) {
                            alert('操作错误..' + ex);
                        }
                    });
                } else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            });
        });
    </script>

</div>
