@{
    Layout = "";
}
@model MVCPlugin.Plugin.Shipping.Fedex.Models.FedexShippingModel

<ul>
    <li>FedexShippingName: @Html.LabelFor(model=>model.FedexShippingName)11111111111111111成功</li>
    <li>FedexShippingFee: @Html.LabelFor(model=>model.FedexShippingFee)222222222222222222</li>
</ul>



